<div class="project-container" *ngIf="project">
  <div *ngIf="embedUrl" class="project-video">
    <iframe [src]="embedUrl | safeUrl" frameborder="0" allowfullscreen>
    </iframe>
  </div>

  <div class="project-header">
    <div class="project-text">
      <h1>{{ project.title }}</h1>

      <div class="info-small">
        <div>
          <span>{{ project.createdBy }}</span>
          <span *ngIf="project.createdBy">&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;</span>
          <span>{{ project.releaseDate | date:'yyyy' }}</span>
        </div>
        <div><span>{{ project.genre?.join(', ')}}</span></div>
      </div>

      <p class="info-regular">{{ project.description }}</p>

      <ng-container *ngIf="project.awards">
        <h2>Awards</h2>
        <span class="info-regular">{{ project.awards }}</span>
      </ng-container>

      <ng-container *ngIf="project.credits">
        <h2>Credits</h2>
        <span class="info-regular" *ngFor="let c of project.credits">{{ c }}</span>
      </ng-container>
    </div>
  </div>
</div>