<div class="home-container">
    <youtube-background #yt videoId="1Vtx_szgdMI"></youtube-background>

    <div class="name-container">
        <div class="name-scroll" [style.--scroll-height]="height">
            <div #name class="name-items">
                <h1>Sebastian Segura</h1>
                <h2 style="width: 390px;">Writer | Director | Producer Cinematographer | Editor</h2>
            </div>
        </div>
    </div>

    <div class="reel">
        <iframe [src]="reelUrl | safeUrl" frameborder="0" allowfullscreen>
        </iframe>
    </div>
</div>