@use '@angular/material' as mat;

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 24px 12% 10%;
  margin-top: -126px;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  margin-top: 16px;
  transition: 
    filter var(--transition-medium), 
    transform var(--transition-medium);
}

.project-card.reverse {
  direction: rtl;
}

.project-image img,
.project-image div {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.project-card:hover {
  filter: brightness(1.2);
  transform: scale(1.01);
}


.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.project-info h1 {
  margin: 0 0 0;
}

.project-info p {
  margin: 0;
  color: #555;
}

mat-divider {
  width: 100%;
}

@media (max-width: 750px) {
  .project-card {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .project-card.reverse {
    direction: ltr;
  }

  mat-divider {
    width: 100%;
  }
}



.info-small {
  font-size: x-large;
  color: var(--text-secondary);
  margin-bottom: 8px;
}

.info-med {
  font-size: xx-large;
  color: var(--text-secondary);
  margin-bottom: 8px;
}



:root {
  @include mat.tabs-overrides((active-focus-indicator-color: orange,
      active-label-text-color: red,
      divider-color: red));
}

.mdc-tab__text-label {
  color: red;
  ;
}

.coming-soon {
  background-color: var(--bg-elevated);
  align-content: center;
  text-align: center;
  font-size: var(--header-size);
}