.outlet-container {
  // max-width: 1200px;
  margin: 0 0 0 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 999;

}