<div class="about-container">
    <img src="headshot.jpg"/>

    <p>
        Sebastian Segura is a filmmaker based outside of the D.C. area. At his time at UVA he made seventeen short films, some of which would go on to be featured in film festivals including the Virginia Film Festival in Charlottesville, VA. As a filmmaker, he writes, directs, shoots, and edits his own material, from scripted comedies to experimental documentaries. Outside of his own work, he has joined the crew of four feature films, ESPN, PBS, BOX5 Media, one web series, and several award winning short films and has filled such roles as director of photography, camera operator, assistant cameraman, DIT, media manager, gaffer, boom operator, assistant editor, administrative assistant to production designer, researcher, and production assistant.
    </p>
</div>